// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.list_img{
	height:100px;
	width:120px;
}
td,th{
	border: 1px dashed #CFCFCF;
	padding: 15px 15px 15px 15px;
}